menu "Device Configurations"

config MMIO_SPACE_SIZE
  hex "IO Space Size"
  default 0x2000000

menu "Serial"
config SERIAL_MMIO
  hex "MMIO address of serial device"
  default 0xa00003f8
endmenu

menu "Timer"
config TIMER_MMIO
  hex "MMIO address of timer device"
  default 0xa0000048
endmenu

menu "VGA"
config VGA_MMIO
  hex "MMIO address of VGA controller"
  default 0xa0000100

config FB_ADDR
  hex "MMIO address of framebuffer"
  default 0xa1000000
endmenu

endmenu
