menu "Device Configurations"

config MMIO_SPACE_SIZE
  hex "IO Space Size"
  default 0x2000000

menuconfig HAS_SERIAL
  bool "Enable serial"
  default y

if HAS_SERIAL
config SERIAL_MMIO
  hex "MMIO address of serial device"
  default 0xa00003f8
endif

menuconfig HAS_TIMER
  bool "Enable timer"
  default y

if HAS_TIMER
config TIMER_MMIO
  hex "MMIO address of timer device"
  default 0xa0000048
endif

endmenu
