menu "Device Configurations"

config MMIO_SPACE_SIZE
  hex "IO Space Size"
  default 0x2000000

menu "Serial"
config SERIAL_MMIO
  hex "MMIO address of serial device"
  default 0xa00003f8
endmenu

menu "Timer"
config TIMER_MMIO
  hex "MMIO address of timer device"
  default 0xa0000048
endmenu

menu "VGA"
config VGA_MMIO
  hex "MMIO address of VGA controller"
  default 0xa0000100

config FB_ADDR
  hex "MMIO address of framebuffer"
  default 0xa1000000
endmenu

menu "Keyboard"
config KBD_MMIO
  hex "MMIO address of Keyboard device"
  default 0xa0000060
endmenu

menu "Audio"
config AUDIO_CTL_MMIO
  hex "MMIO address of audio controller"
  default 0xa0000200

config SB_ADDR
  hex "MMIO address of sound buffer"
  default 0xa1200000

config SB_SIZE
  hex "Size of sound buffer"
  default 0x10000
endmenu

endmenu
