menu "Memory Configurations"

config MBASE
  hex "Memory Base"
  default 0x80000000

config MSIZE
  hex "Memory Size"
  default 0x8000000

config RESET_VECTOR
  hex "PC reset vector"
  default 0x80000000

config ENABLE_TLB
  bool "Enable TLB"
  default n

endmenu
